*{padding: 0; margin: 0;}
html{
    background-color:#EDF2C5;
}

.page_size{
    width: 1260px;
    height: 940px;
    margin: 0 auto;
}

.container{
    margin-left: 160px;
    margin-right: 160px;
    height: 880px;
}

header{
    margin-top: 53px;
    margin-bottom: 20px;
}

header h1{
    float: left;
    font-family:Arial Black;
    font-size: 44px;
    color: #778A50;
    margin-bottom: 8px;
}

.header_sidebar {
    float: right;
    margin-top: 26px;
    margin-bottom: 17px;

}

.header_sidebar img{
    float: left;
    margin-left: 10px;
}

.header_line{
    width: 1px;
    height: 25px;
    border-left: 1px #778A50 solid;
    margin-left: 10px;
    float: left;
}

.header_box{
    background-color: #EDF2C5;
    float: left;
    margin-left: 10px;
    padding: 3px 8px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #778A50;
}

/* Navigator Style */
.site-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #778A50;
    border-radius: 3px;
}

.site-nav li {
    float: left;
}

.site-nav a {
    color: #EDF2C5;
    text-decoration: none;
    padding: 16px 30px;
    font-family: Arial Black;
    font-size: 16px;
    display: block;
}

.body_content{
    margin-top: 30px;
}

.body_content_vegetable{
    float: left;
}

.vegetable_content{
    float: left;
    width: 50%;
}
.contact_content{
    float:right;
    width: 48%;
}

.contact p{
    font-size: 12px;
}
.vegetable_box{
    background-color: #778A50;
    margin-right: 22px;
}
.vegetable_box h2{
    padding: 15px 0px 15px 30px;
}
.contact_box{
    background-color: #778A50;
}
.contact_box h2{
    padding: 17px 0px 16px 30px;
}

.box{
    border: 1px #778A50 solid;
    border-radius: 3px;
}
.clear_both{
    clear: both;
}
.vegetable_img{
    margin-top: 15px;
    margin-right: 10px;
}
.small_header_font{
    font-family: Arial Black;
    font-size: 16px;
    color: #EDF2C5;
}
.contact_font{
    padding: 16px 0px 16px 15px;
    font-size: 12px;
    color: #7D7D7D;
    font-family: ArialMT Regular;
    line-height: 1.33;
}
.contact_font2{
    padding: 16px 0px 0px 15px;
    font-size: 12px;
    color: #7D7D7D;
    font-family: ArialMT Regular;
    line-height: 1.83;
}
.contact_p{
    background-color: #F7FBDA;
    margin: 15px 0px;
}
.contact_line{
    border-top: 1px #7D7D7D solid;
    width: 414px;
    margin: 0px 15px;
}
footer{
    background-color: #778A50;
    height: 60px;
    width: 1260px;
}

footer p{
    padding: 24px 479px 25px 479px;
    font-size: 12px;
    color: #EDF2C5;
    font-family: ArialMT Regular;
}